<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StagCoders Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="layout">
        <div class="sidebar">
            <div id="logo">
                <!-- add your logo image here-->
                <img src="{{url_for('static', filename='fairfieldUniversityLogo.png')}}" alt="Logo" height="150"
                    width="150">
            </div>

            <button id="instructions-button" onclick="addInstructions()">Instructions</button>
            <button id="new-chat-button" onclick="startNewChat()">New chat </button>

            <!--Dropown menu for selecting language-->
            <div id="language-select-sidebar" class="language-container">
                <!-- <i class="fa-solid fa-earth-americas"></i> -->
                <select id="language-select">
                    <option value="english">English</option>
                    <option value="spanish">Spanish</option>
                    <option value="italian">Italian</option>
                    <option value="french">French</option>
                    <option value="german">German</option>
                </select>
            </div>

            <button id="spotify-button" onclick="toggleSpotify()">Spotify</button>
            <button id="map-button" onclick="toggleMap()">Map</button>

            <div id="credits">
                <p>Presented By:</p>
                <ul>
                    <li>Connor Hehn</li>
                    <li>Reyes Huerta</li>
                    <li>David McNulty</li>
                    <li>Andrew Visceglia</li>
                    <li>Dr. Sidike Paheding</li>
                </ul>
            </div>

        </div>
        <div class="chat-container">
            <ul class="chat">
                <li class="message">Hello, how can I assist you?</li>
                <!-- Previous messages go here -->
            </ul>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message..." onkeydown="handleKeyDown(event)">
                <button id="send-button" onclick="sendMessage()">Send</button>
                <button id="record-button" onclick="startSpeechRecognition()">Record</button>
            </div>
            <div id="player"></div>
            <div id="additional-buttons">
                <button onclick="handleSample(this)">What are the campus dining options?</button>
                <button onclick="handleSample(this)">Where can I find the library?</button>
                <button onclick="handleSample(this)">How do I access the career services office?</button>
                <button onclick="handleSample(this)">Where can I find information about academic advising?</button>
                <button onclick="handleSample(this)">Code hello world in python</button>
                <button onclick="handleSample(this)">Code hello world in Java</button>
                <button onclick="handleSample(this)">What CS majors does Fairfield offer?</button>


                <!-- Add more buttons as needed -->
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
